
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SIDAKTITAS</title>
	  <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/signup.css" rel="stylesheet">
    <script src="static/js/jquery-1.11.2.js" rel="stylesheet"></script>
    <script src="static/js/signIn.js" rel="stylesheet"></script>
   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="#">Sign In</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Aplikasi Data Kontak</h3>
      </div>

      <div class="jumbotron">
        <h1>Login Ke Aplikasi</h1>
        <form class="form-signin" action="/v" method="post">
        <label for="inputEmail" class="sr-only">Alamat Email</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Alamat Email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        
        <a class="btn btn-lg btn-success" href="/" role="button">Isi data sekarang</a>
      </form>
      </div>

      

      <footer class="footer">
        <p>&copy; Iqbal Hadi S, 2019</p>
      </footer>

    </div>
  </body>
</html>

